<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Apartment Tracker</title>
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>


  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Home Keeper</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav navbar-right">
        <li><a href="https://github.com/mwerbo2/apartmentTracker">About Us</a></li>
      <li><a href="">Log In</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>




  <div class="text-center">
    <img class="logo" src="http://www.designfreelogoonline.com/wp-content/uploads/2014/10/00108-real-estate-logos-design-free-house-logo-online-02.png" alt="">
    <h1>Welcome to Home Keeper</h1>
    <h3>Please register below to begin</h3>
  <br>

  </div>
<div id="registerform" class="text-center">
  <form action="/user/new" method="post">
    <label for="">First Name: </label>
    <input type="text" name="first_name"><br>
    <label for="">Last Name: </label>
    <input type="text" name="last_name"><br>
    <label for="">Email: </label>
    <input type="text" name="email"><br>
    <label for="">Password: </label>
    <input type="password" name="password_digest"><br>
    <input type="submit" value="submit">
 </form>
<!-- <h2>List of All Users</h2> -->
<!--   <ul>
    <% users.forEach( user => { %>
    <li><a href="/user/<%= user.user_id %>"><%= user.first_name %> <%= user.last_name %></a></li>
    <% }); %>
  </ul> -->
</div>
</body>
</html>
